* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    font-size: 12px;
}

.d-flex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
}

.justify-ingredient {
    justify-content: space-between;
}

@media (min-width: 768px) {
    .justify-ingredient {
        justify-content: flex-start;
    }
}

legend {
    color: #555;
}

summary,
button,
#recipeTitle {
    cursor: pointer;
}

a {
    text-decoration: none;
}

fieldset {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

input,
button,
select {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eee;
}

#fsize button,
#copyRecipe,
#pinRecipe,
#removeRecipe {
    min-width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#itemName {
    width: 130px;
}

#itemAmount {
    width: 70px;
}

#itemMeasure {
    width: 60px;
}

#scalingCoefficient {
    width: 30px;
}

.primaryButton {
    background-color: #6fb9fe;
    color: white;
    margin: 10px 0;
}

.primaryButton:disabled {
    background-color: #b8d9ff;
    cursor: not-allowed;
}

.dangerButton {
    padding: 5px 8px;
    background-color: #f99;
    font-weight: bold;
    font-size: 12px;
}